

body {
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    padding:0px;
    margin:0px;
    
}

.head-con ul li a{
    color:white !important;
}
    .head-con ul li a:hover {
        text-shadow: 0px 0px 20px #FFFFFF;
    }

.main_text h1 {
    font-family: sans-serif;
    color: white;
}
.main_text p {
    font-family:Tahoma;
    color: white;
    font-size:18px;
}

.txtblue {
    color: #ff8c1a;
    font-weight:bold;
}

.side{
    position:fixed;
    width:0px;
    height:100%;
    background-color:rebeccapurple;
    left:0;
    top:0;
    z-index:1;
    transition:0.5s;
    padding-top:60px;
    overflow-x:hidden;
    border-right:1px solid #ffffff;
}

#menu{
    transition:  margin-left .5s;
    padding:16px;
    

}
#menu1 {
    transition: margin-left .5s;
    padding: 16px;
}

.side .kapat {
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    color:white;
}
.side-img{
    width:200px;
    height:200px;
    margin-left:24px;
    margin-top:25px;
    
}


#remoteStream {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

    #myBtn:hover {
        background: #ddd;
        color: black;
    }

    #ulUser{
        color:white;
        font-size:25px;
        font-family:Tahoma;
        text-align:center;
        text-decoration:none;
        display:block;
        margin-top:20px;
        border-top:1px solid #000;
    }
        #ulUser li {
            text-decoration: none;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
            background-color: #663399;
        }

            #ulUser li:hover {
                background-color: #8040bf;
                transition: .5s;
                text-shadow: 0px 0px 20px #FFFFFF;
                cursor:pointer;
            }

#animasyon-video{
    background-color:white;
}

.lgn-btn{
    background-color: #32BEA6;
    color: white;
    font-weight: bold;
}

.hst-btn{
    background-color:   #32BEA6;
    color: white;
    font-weight: bold;
}








